@import "partials/variables";
@import "partials/footer";
@import "partials/mobile";
@import "partials/mixins";
@import url('https://fonts.googleapis.com/css?family=Poiret+One|Sacramento|Tulpen+One&display=swap|Dosis:300,400,500,600,700&display=swap');
body {
    color: $text-Color;
    background: $bodyColor;
}

.nav-link {
    font-family: 'Tulpen One', cursive;
    font-size: 2em;
    font-weight: bold;
}

.bg-primary {
    background-color: $text-Color!important;
}

.txt-rotate {
    color: goldenrod;
}

.jumbotron {
    background-image: url(https://lh3.googleusercontent.com/8Fcw5Hm79biJuGW9RXvHT4AImOXRd0Y7H3oPM_fWrvbPphmkUqE4rQZzp8k6aAvFoSMcnLo-R43YGO22047ICHo9bqF_ui1Nh-J4q3Jo37s9KP9mjxxCa2km28Mx30pTCyB2LWyiig=w2400);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin-top: 1%;
    padding-top: 70px;
    background-color: $jumbo-bg;
    text-align: left;
    h1 {
        font-family: 'Tulpen One', cursive;
        // font-size: 186px;
        text-transform: uppercase;
        color: white;
    }
    h2 {
        font-family: 'Tulpen One', cursive;
        // font-size: 60px;
        text-transform: uppercase;
        color: white;
    }
}

.img-bass {
    width: 15%;
    height: 30%;
}

.lead {
    font-family: dosis;
    text-transform: uppercase;
}

.header-text {
    @include centerText;
    font-family: 'Dosis', sans-serif;
    // font-size: 64px;
    color: $text-Color;
}

.middleT {
    font-size: 70px;
    text-align: center;
    font-family: dosis;
    text-transform: uppercase;
    color: $text-Color;
    font-family: 'Dosis', sans-serif;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.smallText {
    font-size: 45%;
}

.card-text {
    @include centerText;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 11px;
}

.card-body {
    background: $jumbo-bg;
}

.logo {
    width: 100x;
    height: 100px;
}

.otherHalf {
    text-align: center;
}

.countd {
    @include centerText;
    font-family: 'Tulpen One', cursive;
    // font-size: 60px;
}

.bg-image {
    background-image: url(https://lh3.googleusercontent.com/8Fcw5Hm79biJuGW9RXvHT4AImOXRd0Y7H3oPM_fWrvbPphmkUqE4rQZzp8k6aAvFoSMcnLo-R43YGO22047ICHo9bqF_ui1Nh-J4q3Jo37s9KP9mjxxCa2km28Mx30pTCyB2LWyiig=w2400);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

// counter glow effect
.glow {
    // font-size: 80px;
    color: $bodyColor;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px gold, 0 0 40px gold, 0 0 50px gold, 0 0 60px gold, 0 0 70px gold;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px green, 0 0 40px green, 0 0 50px green, 0 0 60px green, 0 0 70px green, 0 0 80px green;
    }
}

// team badge
#team {
    width: 100%;
    background: $team-bg;
}

.badge {
    background-color: black;
}

// hover states
a:link {
    color: green;
}


/* visited link */

a:visited {
    color: green;
}


/* mouse over link */

a:hover {
    color: $jumbo-bg;
}


/* selected link */

a:active {
    color: yellow;
}

.card:hover {
    color: $bodyColor;
}

.card-body:hover {
    background: $text-Color;
}

.btn-link:hover {
    color: $jumbo-bg;
}

.btn-link {
    color: $text-Color;
}

// forms
label {
    text-decoration: orange wavy underline;
}

.myForm {
    padding-bottom: 5px;
    text-align: center;
}

input {
    width: 100%;
    border: none;
    margin: 5px;
    border-bottom: 6px;
    color: grey;
    font-family: 'Tulpen One', cursive;
    font-size: 25px;
}

input[type=text] {
    @include formInput;
}

input[type=email] {
    @include formInput;
}

textarea {
    @include formInput;
}

input[type=submit] {
    color: $text-Color;
    background-color: orange;
    cursor: pointer;
}

input[type=submit]:hover {
    @include formFocus;
}

input[type=text]:focus {
    @include formFocus;
}

input[type=email]:focus {
    @include formFocus;
}

textarea:focus {
    @include formFocus;
}

// mobile view
@media only screen and (min-device-width: 320px) and (max-device-width: 776px) {
    .jumbotron {
        background-image: url(/images/duotone_ovooeb_c_scale\,w_447.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: top;
        margin-top: 1%;
        // top: 30px;
        // padding-bottom: 70px;
        background-color: $jumbo-bg;
        text-align: left;
        h1 {
            font-family: 'Tulpen One', cursive;
            // font-size: 40px;
            text-transform: uppercase;
            color: $bodyColor;
        }
        h2 {
            font-family: 'Tulpen One', cursive;
            // font-size: 40px;
            text-transform: uppercase;
            color: $bodyColor;
        }
    }
    .header-text {
        text-align: center;
        font-family: 'Dosis', sans-serif;
        text-transform: uppercase;
        color: $text-Color;
    }
    .middleT {
        font-size: 50px;
        text-align: center;
        font-family: 'Dosis', sans-serif;
        text-transform: uppercase;
        color: $text-Color;
    }
    .countd {
        text-align: center;
        font-family: 'Tulpen One', cursive;
        // font-size: 40px;
        text-transform: uppercase;
    }
    .card {
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        // width: 50%;
    }
    .txt-rotate {
        color: black;
        font-weight: bold;
    }
    .bg-image {
        background-image: url(/images/duotone_ovooeb_c_scale\,w_341.png);
        background-repeat: repeat;
        background-attachment: fixed;
        background-position: center;
        background-color: $jumbo-bg;
    }
}

// bgvideo
header {
    position: relative;
    background-color: black;
    height: 90vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

// @media (pointer: coarse) and (hover: none) {
//     header {
//         background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
//     }
//     header video {
//         display: none;
//     }
// }
#myBtn {
    width: 100px;
    font-size: 10px;
    padding: 5px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: green;
    color: black;
}