$text-Color: #02111B;
$bodyColor: white;
$jumbo-bg: #B34A1C;
$team-bg: linear-gradient(45deg, rgba(175, 113, 210, 0.55) 0%, rgba(175, 113, 210, 0.55) 25%, rgba(183, 131, 182, 0.55) 25%, rgba(183, 131, 182, 0.55) 50%, rgba(192, 150, 153, 0.55) 50%, rgba(192, 150, 153, 0.55) 75%, rgba(200, 168, 125, 0.55) 75%, rgba(200, 168, 125, 0.55) 100%),
linear-gradient(135deg, rgb(113, 201, 84) 0%, rgb(113, 201, 84) 25%, rgb(148, 181, 74) 25%, rgb(148, 181, 74) 50%, rgb(184, 160, 63) 50%, rgb(184, 160, 63) 75%, rgb(219, 140, 53) 75%, rgb(219, 140, 53) 100%);